:root{
  --cell-bg: bisque;
  --cell-border-colour:rgb(91, 84, 134);
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
  
  .cell{
    padding: 0.1rem;
    display: flex;
    width: 15rem;
    height: 3rem;
    background-color: var(--cell-bg);
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 3px;
    border-color: var(--cell-bg);
  }

  .cell-img{
    border-radius: 50%;
    border-width: 2rem;
  }

  .cell-name{
    display: flex;
    min-width: 0;
  }

  .name{
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
  }

  .matchup{
    display: flex;
    width: min-content;
  }

  .matchup-gap{
    height: 0.5rem;
    background-color: aqua;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .arrow-container{
    display: flex;
  }

  .arrow{
    width: 1.5rem;
    height: 2.25rem;
    border: solid 2px black;
    border-left: none;
  }

  .arrow-top{
    margin-top: 1rem;
    border-bottom: none;
    border-top-right-radius: 0.25rem;
  }



  .arrow-bottom{
    margin-bottom: 1rem;
    border-top: none;
    border-bottom-right-radius: 0.25rem;
  }

  .matchup-arrow{
    width: 1rem;
    height: 3.25rem;
    border: solid 2px black;
    border-left: none;
  }

  .matchup-top{
    margin-top: 3.25rem;
    border-bottom: none;
    border-top-right-radius: 0.25rem;
  }

  .matchup-bottom{
    margin-bottom: 3.25rem;
    border-top: none;
    border-bottom-right-radius: 0.25rem;
  }