:root{
  --cell-bg: rgb(188, 225, 247);
  --cell-border-colour:rgb(91, 84, 134);
  --arrow-radius: 0.3rem;
  --arrow-thickness: 2px;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
  
  .cell{
    padding: 0.1rem;
    display: flex;
    width: 15rem;
    min-width: 10rem;
    height: 3rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 3px;
    border-color: var(--cell-border-colour);
  }

  .cell-img{
    border-radius: 0.25rem;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin-right: 0.5rem;
    background-color: var(--cell-bg);
    box-shadow: 2px 2px 2px gray ;
  }

  .cell-name{
    display: flex;
    min-width: 0;
  }

  .name{
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
  }

  .matchup{
    display: flex;
    width: min-content;
  }

  .matchup-gap{
    height: 0.5rem;
  }

  .arrow-container{
    display: flex;
  }

  .arrow{
    width: 1.5rem;
    height: 2.25rem;
    border: solid var(--arrow-thickness) black;
    border-left: none;
  }

  .arrow-top{
    margin-top: 1rem;
    border-bottom: none;
    border-top-right-radius: var(--arrow-radius);
  }



  .arrow-bottom{
    margin-bottom: 1rem;
    border-top: none;
    border-bottom-right-radius: var(--arrow-radius);
  }

  .matchup-arrow{
    width: 1rem;
    border: solid var(--arrow-thickness) black;
    border-left: none;
  }

  .matchup-top{
    margin-top: 3.25rem;
    border-bottom: none;
    border-top-right-radius: var(--arrow-radius);
  }

  .matchup-bottom{
    margin-bottom: 3.25rem;
    border-top: none;
    border-bottom-right-radius: var(--arrow-radius);
  }

  .loser{
    filter: grayscale(90%);
  }

  .round-gap{
    height: 1rem;
  }

  .filler-gap{
    height: 5.5rem;
  }