:root{
  --cell-bg: bisque;
  --cell-border-colour:rgb(91, 84, 134);
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
  
  .cell{
    padding: 0.1rem;
    display: flex;
    width: 15rem;
    height: 3rem;
    background-color: var(--cell-bg);
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 3px;
    border-color: var(--cell-bg);
  }

  .cell-img{
    border-radius: 50%;
    border-width: 2rem;
  }

  .cell-name{
    display: flex;
    min-width: 0;
  }

  .name{
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
  }